{% if past_tour_events %}
<h2 class="h2 opacity-50 mb-4">Прошедшие мероприятия</h2>
<div class="flex flex-col space-y-4">
	{% for event in past_tour_events %}
	<div class="event-container opacity-50">
		<div class="event-info">
			<div class="flex flex-col w-[300px] gap-2 text-left">
				<h2 class="h3">{{ event.city }}</h2>
				<h2 class="h3">{{ event.date|date:"d E Y" }}</h2>
			</div>
			<h2 class="h3">{{ event.venue }}</h2>
		</div>
		<div class="event-buttons">
			<a href="{% url 'event_detail' event.slug %}" class="btn btn-outline event-button">Подробнее</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}
