{% extends 'base.html' %}{% block title %}{{ tour.title }}{% endblock %}{% block content %}
<div class="container mx-auto">
	<div class="mb-4">
		<div class="mb-8">
			<div class="cover-container">
				<img src="{{ tour.cover.url }}" class="cover-image" alt="{{ tour.title }}" />
			</div>
		</div>
	</div>

	<div>
		<h1 class="h1 mb-8">{{ tour.title }}</h1>

		{% if tour_status == "upcoming" %}
		<!-- Отображаем предстоящие мероприятия -->
		{% if tour_events %}
		<div class="card-container">
			{% for event in tour_events %}
			<div class="event-card">
				<a href="{% url 'event_detail' event.slug %}">
					<div class="event-card-image-container">
						<img src="{{ event.poster.url }}" class="event-card-image" alt="{{ event.title }}" />
					</div>
				</a>
				<div class="event-card-content">
					<h5 class="event-card-title">{{ event.title }}</h5>
					<p class="event-card-info">
						<span class="event-card-info-text">{{ event.city }}</span>
						<span class="event-card-info-text">•</span>
						<span class="event-card-info-text">{{ event.date|date:"j E Y"|lower }}</span><br />
						<span class="event-card-info-text">{{ event.venue }}</span>
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}

		<!-- Отображаем прошедшие мероприятия, если они есть -->
		{% if past_tour_events %}
		<h2 class="h2 mb-8">Прошедшие мероприятия</h2>
		<div class="card-container">
			{% for event in past_tour_events %}
			<div class="event-card">
				<a href="{% url 'event_detail' event.slug %}">
					<div class="event-card-image-container">
						<img src="{{ event.poster.url }}" class="event-card-image event-card-image-past" alt="{{ event.title }}" />
					</div>
				</a>
				<div class="event-card-content">
					<h5 class="event-card-title">{{ event.title }}</h5>
					<p class="event-card-info">
						<span class="event-card-info-text">{{ event.city }}</span>
						<span class="event-card-info-text">•</span>
						<span class="event-card-info-text">{{ event.date|date:"j E Y"|lower }}</span><br />
						<span class="event-card-info-text">{{ event.venue }}</span>
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %} {% elif tour_status == "past" %}
		<!-- Отображаем сообщение о завершении и прошедшие мероприятия -->
		<div class="bg-card p-6 rounded-[16px] border border-border mb-8">
			<h4 class="text-lg font-bold mb-2 text-foreground">Тур завершился</h4>
			<p class="mb-2 text-foreground">Все мероприятия в рамках этого тура уже прошли.</p>
			<p class="text-foreground">Следите за анонсами новых туров!</p>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
			{% for event in past_tour_events %}
			<div class="col-span-1">
				<a href="{% url 'event_detail' event.slug %}">
					<div class="event-card">
						<div class="relative">
							<img src="{{ event.poster.url }}" class="event-card-image event-card-image-past" alt="{{ event.title }}" />
						</div>
						<div class="event-card-content">
							<h5 class="event-card-title">{{ event.title }}</h5>
							<p class="event-card-info">
								<span class="event-card-info-text">{{ event.city }}</span>
								<span class="event-card-info-text">•</span>
								<span class="event-card-info-text">{{ event.date|date:"j E Y"|lower }}</span><br />
								<span class="event-card-info-text">{{ event.venue }}</span>
							</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
		{% else %}
		<!-- Нет мероприятий вообще -->
		<div class="bg-card p-6 rounded-[16px] border border-border">
			<h4 class="text-lg font-bold mb-2 text-foreground">Мероприятия скоро появятся!</h4>
			<p class="mb-2 text-foreground">В данный момент мы подготавливаем для вас мероприятия в рамках этого тура.</p>
			<p class="text-foreground">Следите за обновлениями!</p>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
